gris_texto = #7A7A7A
gris_oscuro = #444

body 
	font-family ubuntu
	font-size 16px
	
header
	background gris_oscuro
	color white
	overflow hidden
	padding 0.5em
	position relative
	z-index 1
	margin 0
	
	.logo 
		float left
		width 150px
		img
			width 130px
	.titular
		margin 0px 60px 0 140px
		
		.titulo
			font-weight bold
			font-size 17px
			margin 0
			padding 0
			
	.escudo 
		position absolute
		right 10px
		top 0
		
		.avatar
			margin 0 0.5em 0 0
			position relative
			z-index 2
			img 
				width 50px
				border-radius 50%
				
			
nav
	background white
	
	.menu
		height 50px
		line-height 30px
		margin 0
		overflow-x auto
		padding 0
		white-space nowrap
		text-align center
		box-shadow 0 2px 3px rgba(0, 0, 0, .3)
				
		li
			display inline-block
			
			.inicio:hover
				border-bottom 5px solid #4270A2			
				color #4270A2
				font-weight bold
				text-decoration none
				position relative
				&:after
					border-left 5px solid transparent
					border-bottom 5px solid #4270A2
					border-right 5px solid transparent
					content ""
					left 17px
					rigth 0
					position absolute
					top 25px
			.nos:hover
				border-bottom 5px solid #7D0CCE
				color #7D0CCE
				font-weight bold
				text-decoration none
				position relative
				&:after
					border-left 5px solid transparent
					border-bottom 5px solid #7D0CCE
					border-right 5px solid transparent
					content ""
					left 32px
					rigth 0
					position absolute
					top 25px
			.con:hover
				border-bottom 5px solid #D80F80
				color #D80F80
				font-weight bold
				text-decoration none
				position relative
				&:after
					border-left 5px solid transparent
					border-bottom 5px solid #D80F80
					border-right 5px solid transparent
					content ""
					left 46px
					rigth 0
					position absolute
					top 25px
			.par:hover
				border-bottom 5px solid #EB2340
				color #EB2340
				font-weight bold
				text-decoration none
				position relative
				&:after
					border-left 5px solid transparent
					border-bottom 5px solid #EB2340
					border-right 5px solid transparent
					content ""
					left 33px
					rigth 0
					position absolute
					top 25px
			.sed:hover
				border-bottom 5px solid #FE7501
				color #FE7501
				font-weight bold
				text-decoration none
				position relative
				&:after
					border-left 5px solid transparent
					border-bottom 5px solid #FE7501
					border-right 5px solid transparent
					content ""
					left 19px
					rigth 0
					position absolute
					top 25px
			.his:hover
				border-bottom 5px solid #FCBF29
				color #FCBF29
				font-weight bold
				text-decoration none
				position relative
				&:after
					border-left 5px solid transparent
					border-bottom 5px solid #FCBF29
					border-right 5px solid transparent
					content ""
					left 30px
					rigth 0
					position absolute
					top 25px
			.contac:hover
				border-bottom 5px solid #B7D400
				color #B7D400
				font-weight bold
				text-decoration none
				position relative
				&:after
					border-left 5px solid transparent
					border-bottom 5px solid #B7D400
					border-right 5px solid transparent
					content ""
					left 44px
					rigth 0
					position absolute
					top 25px
				
			a
				color gris_texto
				display inline-block
				font-weight bold
				margin 0 0.3em
				padding 0 0.2em	
				text-decoration none
				text-align center
			
				
footer
	color gris_texto
	padding 1em 0
	text-align center
	width 100%
	
		
	h3
		font-size 14px
		font-weight normal
		
		strong 
			display block

@media screen and (min-width: 768px)
		
	nav
		.menu
			height 36px
			
	
		